@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainNox_1{
    width: 100vw;
    height: 100vh;
    background-image: url(../Images/mainBG.jpg);
    background-size: cover;
    background-position: center;    
    position: relative;
   
}
.mainNox_1 .mainTitle{
    position: absolute;
    top:44%;
    left: 50%;
    transform: translate(-50%,-44%);
    font-family: 'Julee', cursive;
    font-size: 60px;
    color: #E85A2A;
    text-align: center;
    animation: Tangled 15s infinite alternate linear;    
    text-shadow: 2px 2px rgba(255, 255, 255, 0.7);
    z-index: 1;
}
@keyframes Tangled{
    0% { 
        position: absolute;
        top:44%;
        left: 50%;
        transform: translate(-50%,-44%) rotateZ(0deg);
    }
    50% { 
        position: absolute;
        top:44%;
        left: 50%;
        transform: translate(-50%,-44%) rotateZ(20deg);
    }
    100% { 
        position: absolute;
        top:44%;
        left: 50%;
        transform: translate(-50%,-44%) rotateZ(-20deg);
    }  
}
canvas{
    z-index: 2;
}
